*.pyc
*.o
*.a
*.exe
*.gch

# editor directories
.idea/
.clangd/
.vscode/
.cache/

# editor temporaries
*.swp

# build directories
build/
build-*/
cmake-build-*/
docker-*-build/
/Debug/
./extern/googletest/*
